{% extends 'tienda/base.html' %}

{% load static %}

{% block contenido %}
    <div class="productos">
        
        {% for p in productos %}
        <div class="producto">
            <div class="contenedor">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="guitarra-electrica'}">
                {% endif %}
                <div class="detalles">
                    <h2>{{p.color}}</h2>
                    <h2>{{p.nameProduct | title }}</h2>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}