<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/tienda/static/tienda/css/estilos.css">
</head>
<body>
    <header>
        <!--Foto del sistema-->
        <div>
            <img height="20" src="/tienda/static/tienda/img/logo.png" alt="logo" class="logo">
        </div>
        <!--NAV BAR DEL SISTEMA(en proceso)-->
            <nav>
                <ul>
                    <li>
                        <a href="">COLECCION</a>
                    </li>
                    <li>
                        <a href="">GALERIA</a>
                    </li>
                    <li>
                        <a href="">INFO</a>
                    </li>
                </ul>
            </nav>
        <div>

        </div>
    </header>

    <div id="contenido">
        <div class="productos">
            <div class="producto">
                <div class="contenedor">
                    <img src="/tienda/static/tienda/img/guitarra-electrica-ec256sw-ltd.jpg" alt="guitarra-electrica">
    
                    <div class="detalles">
                        <h2>ALGO</h2>
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, atque.</h5>
                    </div>
                </div>
            </div>
            <div class="producto">
                <div class="contenedor">
                    <img src="/tienda/static/tienda/img/guitarra-clasica-c40-yamaha.jpg" alt="">
    
                    <div class="detalles">
                        <h2>ALGO DIFERENTE</h2>
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, atque.</h5>
                    </div>
                </div>
            </div>
            <div class="producto">
                <div class="contenedor">
                    <img src="/tienda/static/tienda/img/guitarra-electrica-lxmt130gry-ltd.jpg" alt="">
    
                    <div class="detalles">
                        <h2>MUY DIFERENTE</h2>
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, atque.</h5>
                    </div>
                </div>
            </div>
            <div class="producto">
                <div class="contenedor">
                    <img src="/tienda/static/tienda/img/guitarra-electrica-ec256blk-ltd.jpg" alt="">
    
                    <div class="detalles">
                        <h2>MUY DIFERENTE</h2>
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, atque.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque qui, libero aut neque fugit minima perferendis officiis dolorum! Ut.</p>